{% extends "base.html" %}
{% block nadpis %}
Nová hádanka
{% endblock %}
{% block obsah %}
<h1>Nová hádanka</h1>
<form method="post">
{% csrf_token %}
{% if error %}
  <p>{{error}}</p>
{% endif %}
<table>
{{form}}
</table>
<input type="submit" value="Pridať">
</form>
{% endblock %}
