{% extends 'very_base.html' %}
{% block navigacia %}
{{request.session.prihlaseny_username}}
<a href="{% url 'hadanky.views.zoznam_hadaniek' %}">Zoznam hádaniek</a>
<a href="{% url 'hadanky.views.users' %}">Riešitelia</a>

{% if hadanky_uzivatel %}
<a href="{% url 'hadanky.views.add' %}">Pridaj hádanku</a>
<br/>
<br/>
Prihlásený užívateľ:
<a href="{% url 'hadanky.views.user_preview' hadanky_uzivatel.prezyvka %}">
  {{hadanky_uzivatel.prezyvka}}</a>
<a href="{% url 'hadanky.views.logout' %}">Logout</a>
{% else %}
<br/>
<br/>
<a href="{% url 'hadanky.views.registracia' %}">Registrácia</a>
<a href="{% url 'hadanky.views.login' %}">Login</a>
{% endif %}
{% endblock %}
