{% extends "base.html" %}
{% block nadpis %}
Zadanie hádanky
{% endblock %}
{% block obsah %}
<h1>{{hadanka.nazov}}</h1>
Autor: <a href="{% url 'hadanky.views.user_preview' hadanka.autor.prezyvka %}">
{{hadanka.autor.prezyvka}}</a>
<br/>
Obtiažnosť: {{hadanka.obtiaznost}}
<br/><br/>
Zadanie: <br/>
{{hadanka.zadanie}}
<br/>
<br/>

{% if form %}
  <form method="post">
  {% csrf_token %}
    {%if error %}
     <ul class="errorlist"><li>{{error}}</li></ul>
    {% endif %}
    <table>
      {{form}}
    </table>
    <input type="submit" value="Odpovedať">
  </form>
{% else %}
    <h2>Gratulujem</h2>
    Túto hádanku si už vyriešil :)
    <br/>mozes komentovat:
    <form method="post">
    {% csrf_token %}
      {%if error %}
       <ul class="errorlist"><li>{{error}}</li></ul>
      {% endif %}
      <table>
        {{komentForm}}
      </table>
      <input type="submit" value="komentovat">
    </form>
    komenty :
    {{komentare}}
{% endif %}
{% endblock %}
