{% extends "base.html" %}
{% block nadpis %}
Home
{% endblock %}
{% block obsah %}<h1>Nie si prihlásený</h1>
  Na tejto Stránke sa dajú riešiť rôzne hádanky<br/>
  Bez prihlásenia sa, nie je možné vidieť zadanie hádaniek.
  <br/>
  Zatiaľ sa môžeš <a href="/registracia">zaregistrovať</a>
  <br/>
  alebo <a href="/login/">prihlásiť</a>
{% endblock %}
