{% extends "base.html" %}
{% block nadpis %}
Login
{% endblock %}
{% block obsah %}
<h1>Login</h1>
{% if info %}
  {{info}} bol si úspešne registrovaný. Pokračuj prihlásením. 
{% endif%}
<form method="post">
{% csrf_token %}
{% if error %}
  <p>{{error}}</p>
{% endif %}
<table>
{{form}}
</table>
<input type="submit" value="Poslať">
</form>
{% endblock %}
