{% extends "base.html" %}
{% block nadpis %}
Registrácia
{% endblock %}
{% block obsah %}
<h1>Registrácia</h1>
<form method="post">
{% csrf_token %}
{% if error %}
  <p>{{error}}</p>
{% endif %}
<table>
{{form}}
</table>
<input type="submit" value="Registrovať">
</form>
{% endblock %}
