{% extends "base.html" %}
{% block nadpis %}
Profil riešitela
{% endblock %}
{% block obsah %}
{% if userinfo %}
    <h1>{{userinfo.prezyvka}}</h1>
    {{userinfo}},  mail: {{userinfo.email}}
    <br/>
    <br/>
    {% if autorlist %}
    Je autorom hadaniek:
      <ul>
      {% for h in autorlist %}
        <li>
        <a href="{% url 'hadanky.views.hadanka' h.nazov %}">
        {{h.nazov}}
        </a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    <br/>
    <br/>
    {% if solvelist %}
    Zatial vyriešil:
      <ol>
      {% for h in solvelist %}
        <li>
        <a href="{% url 'hadanky.views.hadanka' h.nazov %}">
        {{h.nazov}}
        </a>
        </li>
      {% endfor %}
      </ol>
    {% endif %}
{% else %}
<br/><br/><h1>Zvolený riešitel neexistuje.</h1>
{% endif %}


{% endblock %}
