{% extends "base.html" %}
{% block nadpis %}
Zoznam hádaniek
{% endblock %}
{% block obsah %}
<h1>Zoznam riešiteľov</h1>
<ol>
{% for u in users %}
<li>
  {{u}}
<a href="{% url 'hadanky.views.user_preview' u.prezyvka %}">
{{u.prezyvka}}
</a>
{{u.email}}
</li>
{% endfor %}
</ol>
{% endblock %}
