<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" >
 <head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <title>
   {% block nadpis %}
   {% endblock %}
  </title>
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/stylik2.css' %}" />
 </head>
<body id="stranka" >
<div id="velky" >
  <div id="hlavicka" >
        Hádanky<div id="motyl" ></div>
  </div>
  <div id="telo">
    {% block obsah %}
    {% endblock %}
  </div>
  <div id="navigacia" >
      <div id="nic" ></div>
      <div id="vyber" >
          {% block navigacia %}
          {% endblock %}
      </div>
      <div id="nicd" ></div>
  </div>
  <div id="paticka" >
          <div id="mot" ></div>
             vytvoril: <em><strong>Michal Hajdin</strong> 2017</em>
  </div>
  <div id="patvalid" >
               <a href="http://validator.w3.org/check?uri=referer" >
                  <img src="http://www.w3.org/Icons/valid-xhtml10"
                  alt="Valid XHTML 1.0 Transitional" />
               </a>
               <a href="http://jigsaw.w3.org/css-validator/check/referer" >
                  <img src="http://jigsaw.w3.org/css-validator/images/vcss"
                  alt="Valid CSS!" />
               </a>
   </div>
</div>
</body>
</html>
