{% extends "base.html" %}
{% block nadpis %}
Zoznam hádaniek
{% endblock %}
{% block obsah %}
<h1>Hádanky</h1>
{% if hadanky %}
    <ol>
    {% for uloha in hadanky %}
    <li>
    <a href="{% url 'hadanky.views.hadanka' uloha.nazov %}">
    {{uloha.nazov}}
    </a>
    </li>
    {% endfor %}
    </ol>
{% else %}
    {% if todolist %}
    Zatial nevyriesene:
      <ol>
      {% for h in todolist %}
        <li>
        <a href="{% url 'hadanky.views.hadanka' h.nazov %}">
        {{h.nazov}}
        </a>
        </li>
      {% endfor %}
      </ol>
    {% endif %}
    {% if autorlist %}
    Je autorom hadaniek :
      <ul>
      {% for h in autorlist %}
        <li>
        <a href="{% url 'hadanky.views.hadanka' h.nazov %}">
        {{h.nazov}}
        </a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if solvelist %}
    Zatial vyriesil:
      <ol>
      {% for h in solvelist %}
        <li>
        <a href="{% url 'hadanky.views.hadanka' h.nazov %}">
        {{h.nazov}}
        </a>
        </li>
      {% endfor %}
      </ol>
    {% endif %}
{% endif %}
{% endblock %}
