#stranka{
	margin: 0;
	border: 0;
	padding: 0;
	background-attachment: scroll;
	background-color: #b0e0e6;
	font-size: 16px;
}
#velky{
	width: 800px;
	position: relative;
	margin:auto;
}
#hlavicka{
  width: 780px;
	height: 138px;
	background-image: url(obrazky/menuhl.png);
	color: yellow;
	font-family: 'cookie', cursive;
	font-size: 120px;
	padding-top: 10px;
	padding-left: 20px;
}
#motyl{
	position:absolute;
	right: 0;
	top:0;
	width: 300px;
	height: 224px;
	margin: 0;
	background-image: url('obrazky/motyl copy.png');
}
#paticka{
	background-image: url(obrazky/peta.png);
	clear: both;
	color: yellow;
	width: 800px;
	height: 65px;
	font-size: 28px;
	text-align: center;
	padding: 0;
	padding-top: 25px;
	margin: 0;
	font-family: 'cookie', cursive;
}
#mot{
	background-image: url(obrazky/mot2.png);
	position: absolute;
	bottom: 47px;
	left: 0;
	width: 200px;
	height: 150px;
}
#patvalid{
	position: relative;
	width: 190px;
	margin: auto;
}
#navigacia{
	width: 25%;
	margin: 0;
	padding: 0;
	float: left;
}
#nic{
	height: 50px;
	background: url(obrazky/menuh.png);
	background-repeat: no-repeat;
	background-position: bottom;
	padding: 0;
}
#vyber{
	vertical-align: top;
	height: auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #4800d9;
	color: yellow;
	font-family: "palatino linotype", palatino, serif;
}
#nicd{
  height: 110px;
	background: url(obrazky/menud.png);
	background-repeat: no-repeat;
	background-position: top;
}
#telo{
  float: right;
	width: 73%;
	padding-left: 2%;
	margin: 0;
	font-family: "palatino linotype", palatino, serif;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: justify;
	list-style-image:url(obrazky/mot3.png);
}
ol{
	list-style-image:url(obrazky/kvetinka2.png);
}
#vyber a{
	display: block;
	font-weight: bold;
	text-decoration: none;
	font-style:normal;
	padding-left: 7px;
	font-size: 120%;
	color: yellow;
	font-family: "palatino linotype", palatino, serif;
}
#navigacia a:hover{
	background-color: yellow;
	color: #0000cd;
}
h1{
	font-family: "Comic Sans MS";
	font-size: 35px;
	margin-bottom: 0;
	margin-top: 20px;
}
h2{
	font-family: "Comic Sans MS";
}
h3{
	font-family: "Comic Sans MS";
}
a{
	color: black;
	text-decoration: none;
	font-style: italic;
	border: 0 none black;
}
#patvalid img{
	border: 0;
	width: 88px;
	height: 31px;
}
#login{
	width: 250px;
	position: relative;
	margin: auto;
	top:100px;
	text-align: center;
}
#reg{
   width:100px;
	position: relative;
	margin:auto;
	margin-top: 12px;
}
#vstupy{
	width: 380px;
	position: relative;
	margin:auto;
}
#anketa{
	width: 380px;
	position: relative;
	margin:auto;
}
